{% extends 'article/base.html' %}

{% block title %}
注册
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/login&signup.css' %}">
{% endblock %}


{% block content %}
    <div class="page-title">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <h1><b>注册</b></h1>
                <p>已有账号？<a href="{% url 'auth_app:login' %}">马上登录</a></p>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 blog-content">
                <div class="login-wrapper">
                    <form method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">用户名</label>
                        <input type="text" class="form-control" name="username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" class="form-control" name="email">
                        <small id="emailHelp" class="form-text text-muted">我们不会像他人透露您的邮箱</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="pwd1">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">确认密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="pwd2">
                      </div>
                        
                        <ul>
                            {% for error in errors %}
                                    <li>{{ error }}</li>
                            {% endfor %}
                        </ul>

                      <input type="submit" value="注册" class="button">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}